<label class="timeslot_card">
  <wa-card class="timeslot-card">
    <div class="displayed_time"> <%= @timeslot.start_time.strftime('%H:%M') %> : <%= @timeslot.end_time.strftime('%H:%M') %> </div>
  </wa-card>
  <input type="checkbox" name="selected_timeslot" />
</label>
